body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

main {
    flex-grow: 1;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.movie-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.movie-card:hover {
    transform: translateY(-5px);
}

.movie-card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.movie-card h2 {
    color: #333;
    margin-top: 10px;
}

.movie-details {
    margin-top: 10px;
    display: none; /* Initially hidden */
    text-align: left;
    padding-top: 10px;
    border-top: 1px solid #eee;
}

.show-details-btn {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.show-details-btn:hover {
    background-color: #007B9E;
}

.like-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #ccc;
    margin-left: 10px;
}

.like-button.liked {
    color: #e25555; /* A vibrant red for liked status */
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: white;
    margin-top: auto; /* Pushes the footer to the bottom */
}
